<body>
<div class="container">
<h1>My Quotes</h1>
<hr>

  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

<ul>
  <div *ngFor="let quote of quotes;let i = 'index'" class="main">
    <li>{{quote.name}}</li>
    <button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
    <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isRead) = 'deleteQuote($event,i)' (upvotes)='upvote()' (downvotes)='downvote()'></app-quote-details>
  </div>
</ul>
</div>

</body>
